@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body.lock {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}


.title32{
  font-size: 32px;
  font-weight: 700;
  color: #303030;
  font-family: "Open Sans", sans-serif;
  line-height: 144%;
}


.title26{
  font-size: 26px;
  font-weight: 700;
  color: #303030;
  line-height: 126%;
  font-family: "Open Sans", sans-serif;
}

.title22{
  font-size: 22px;
  font-weight: 700;
  color: #303030;
  line-height: 126%;
  font-family: "Open Sans", sans-serif;
}

.title18{
  font-size: 18px;
  font-weight: 700;
  color: #303030;
  line-height: 126%;
  font-family: "Open Sans", sans-serif;
}

.title12{
  font-size: 12px;
  font-weight: 700;
  color: #303030;
  line-height: 126%;
  font-family: "Open Sans", sans-serif;
}


.blue{
  color: #2C79FF;
}

/*-------------------------------------------paragraf-----------------------------------------*/

.parag12{
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-weight: 400;
  line-height: 142%
}

/*-------------------------------------------button-----------------------------------------*/

.button{
  padding: 13px 40px;
  background: linear-gradient(180deg, #3b82ff 0%, #2f6dff 100%);
  border: none;          /* УБИРАЕМ border */
  outline: none;         /* УБИРАЕМ outline */
  border-radius: 10px;

  box-shadow:
    0 6px 0 #1e4fc6,     /* нижняя тень-ступенька */
    0 10px 14px rgba(0,0,0,0.18); /* компактная мягкая */

  cursor: pointer;
  transition: 300ms;
  color: #fff;
}

.button:hover{
  transform: scale(1.01);
}

.button a{
  color: #fff;
  line-height: 14%;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.button:focus,
.button:focus-visible {
  outline: none;
  box-shadow:
    0 6px 0 #1e4fc6,
    0 10px 14px rgba(0,0,0,0.18);
}

.button:active {
  transform: translateY(4px);
  box-shadow:
    0 2px 0 #1e4fc6,
    0 6px 10px rgba(0,0,0,0.18);
}


@media (min-width:1600px){
  .button{
    padding: 20px 55px;
  }
}

/*-------------------------------------------container-----------------------------------------*/


.container{
  max-width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

/*-------------------------------------------burger-----------------------------------------*/

.burger {
  width: 30px;
  height: 18px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

/* Полоска */
.burger span,
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2C79FF;
  transition: 0.3s ease;
}

/* Позиции линий */
.burger span { top: 8px; }
.burger::before { top: 0; }
.burger::after { bottom: 0; }

/* Активный бургер (крестик) */
.burger.active span {
  opacity: 0;
}

.burger.active::before {
  transform: rotate(45deg);
  top: 8px;
}

.burger.active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

/* Меню */
.burger__body {
  position: fixed;
  top: 0;
  right: 0;
  width: 160px;
  height: 100vh;
  background-color: #1e4fc6;
  padding: 80px 20px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 50;
}

/* Открытое меню */
.burger__body.open {
  transform: translateX(0);
}

/* Навигация */
.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list li {
  padding: 10px 0px;
  margin-bottom: 25px;
  text-align: center;
}

.navigation-list li:first-child{
  margin-top: 25px;
}

.navigation-list a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* Блокировка скролла */
body.lock {
  overflow: hidden;
}

/*-------------------------------------------burger-adaptiv-----------------------------------------*/


@media (min-width:900px){
  .burger{
  display: none;
  }

  .burger__body {
    position: static;
    transform: none;
    height: auto;
    width: auto;
    background: transparent;
    padding: 0;
  }

  /* список в линию */
  .navigation-list {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .navigation-list li {
    margin: 0;
  }

  .navigation-list li:first-child{
    margin-top: 0px;
  }

  .navigation-list a {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
  }
}